{%extends 'base.html'%}
{%block content%}
<form action="/members/edit/{{member.id}}" , method="POST">

    <div id="member_btn_edit">
        <label for="name">Edit Name</label>
        <input type="text" id="name" name="name" value="{{member.name}}">
    </div>


    <div id="gender_select">
        <label for="gender">Edit Gender</label>
        <select name="gender" id="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>


    <div id="submit_edit">
        <button type="submit">Submit changes</button>
    </div>
</form>

{%endblock%}