body>header{
    text-align: center;
    height:100px;
    background: rgb(48, 77, 95);
    border: solid 5px rgb(48, 77, 95);
    
}
body>footer{

    text-align: center;
    height:100px;
    background: rgb(48, 77, 95);
    border: solid 5px rgb(48, 77, 95);
    

}
body>main{
    background: rgb(78, 105, 111);
    height: 850px;
    padding:right 110px;
    border:solid 10px rgb(48, 77, 95);
    
    
}
body>main>nav>ul{
    
    font-size:20px;
    list-style-type:none;
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    border-bottom:solid white;
    


}
body>main>section>h1{
    text-align: center;
}
#hulk,img{
    border-radius:5%;
    display:flex;
    justify-content: space-around;
    margin-left:3%;
    
    max-width:90%;
    height:auto;
    width:auto;

    text-align: center;
}

body>main>section>h1{
    text-align:center;
    font-size: 30px;
 }

#member_table{
    width: 80%;
    margin: 20px 60px;
    border:2px black;
    
}
#name{
    text-align:left;
    border-collapse:collapse;
    margin: 35px 20px;
    width:400px;
    border :2px solid black;
}
#status{
    text-align:right;
    border :2px solid black;
    width:200px
    
}
#sex{
    text-align:center;
    border:2px solid black;
    width:200px;
    
    
}
#btn{
    text-align:center;
    border:2px solid black;
    width:200px;
    
    
}
#manage_btn{
    width:150px;
    position:center;
   
}
#new_member{
    text-align: center;
}
#manage_btn1{
    width:150px;
    height:50px;
    position:center
}

#member_btn{
    text-align: center;
}
#gender_select{
    text-align:center;
    margin-top: -25px;
    margin-left:10px
}
#member_btn1{
    text-align:center;
}
#member_btn_edit{
    text-align:center
}

#submit_edit{
    text-align:center;
    margin-top:20px;
}
#gender{
    width:100px;
    margin-left:10px;
    text-align:center
}
#member_btn2{
    width:100px;
}

#reate_mmbr_form{
    display:flex;
    justify-content: space-between;
}
/* edit deactivate page */
#member_deactivate_btn{
    text-align:center;
    margin-top:10px;
}
#deactivate_msg{
    text-align:center
}